

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

.sfondo{
    background-color: #1F1838;
}
